<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <contex:component-scan base-package="com.ccsdt.AOP.xml"/>

    <!--配置AOP切面 Bean-->
    <bean id="loggingAspect" class="com.ccsdt.AOP.xml.LoggingAspect"/>
    <bean id="validate" class="com.ccsdt.AOP.xml.Validate"/>

    <!--配置AOP切面通知-->
    <aop:config>
        <!--配置切点表达式-->
        <aop:pointcut id="pointcut" expression="execution(* com.ccsdt.AOP.xml.CalculatorImpl.*(..))"/>
        <!--配置切面及通知-->
        <aop:aspect id="loggingAspect" ref="loggingAspect" order="2">
            <aop:before method="beforeMethod" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterRunningMethod" pointcut-ref="pointcut" returning="returnValue"/>
            <aop:after method="afterMethod" pointcut-ref="pointcut"/>
            <aop:after-throwing method="AfterThrowing" pointcut-ref="pointcut" throwing="e"/>
        </aop:aspect>
        <aop:aspect id="validate" ref="validate" order="1">
            <aop:before method="beforeMethod" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>