<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--配置Bean-->
    <!--class: bean的全类名,通过IOC反射的方式在容器中创建Bean，要求Bean中必须有无参构造器-->
    <!--id代表Bean标识，id唯一-->
    <bean id="helloWorld" class="com.ccsdt.HelloWorld">
        <property name="name" value="spring"/>
    </bean>

    <!--默认采用顺序配置Bean属性，并默认使用参数相同的第一个构造器-->
    <bean id="car1" class="com.ccsdt.Car">
        <constructor-arg value="Audio"/>
        <constructor-arg value="Shanghai"/>
        <constructor-arg value="88.8"/>
    </bean>

    <!--采用顺序配置Bean属性,与car1等价，并默认使用参数相同的第一个构造器-->
    <bean id="car2" class="com.ccsdt.Car">
        <constructor-arg value="Audio" index="0"/>
        <constructor-arg value="Shanghai" index="1"/>
        <constructor-arg value="88.8" index="2"/>
    </bean>

    <!--指定参数Type，区别使用不同的构造器-->
    <bean id="car3" class="com.ccsdt.Car">
        <constructor-arg value="SGM" type="java.lang.String"/>
        <constructor-arg value="Shanghai" type="java.lang.String"/>
        <constructor-arg value="8" type="int"/>
    </bean>

    <!--指定参数Type，区别使用不同的构造器-->
    <!--特殊字符可以使用CDATA包裹起来-->
    <bean id="car4" class="com.ccsdt.Car">
        <constructor-arg value="SGM" index="0"/>
        <constructor-arg type="java.lang.String">
            <value><![CDATA[<Shanghai&*>]]></value>
        </constructor-arg>
        <constructor-arg type="double" value="25.66"/>
    </bean>

    <!--内部bean-->
    <bean id="person" class="com.ccsdt.Person">
        <property name="name" value="Jerry"/>
        <property name="age" value="15" />
        <property name="car" >
            <bean class="com.ccsdt.Car">
                <property name="amount" value="4"/>
                <property name="corp" value="Beijing"/>
                <property name="banch" value="Demo"/>
            </bean>
        </property>
    </bean>

    <!--赋值为null-->
    <bean id="car5" class="com.ccsdt.Car">
        <constructor-arg value="SGM" index="0"/>
        <constructor-arg><null/></constructor-arg>
        <constructor-arg type="double" value="25.66"/>
    </bean>

    <!--为级联属性赋值，注意需要先初始化再对级联属性赋值-->
    <bean id="person2" class="com.ccsdt.Person">
        <property name="name" value="Jerry"/>
        <property name="age" value="15" />
        <property name="car" ref="car1"/>
        <property name="car.amount" value="900"/>
    </bean>

    <!--集合属性赋值-->
    <bean id="teacher" class="com.ccsdt.collection.Teacher">
        <property name="name" value="Jerry"/>
        <property name="age" value="15" />
        <property name="cars">
            <list>
                <ref bean="car1"/>
                <ref bean="car2"/>
                <ref bean="car3"/>
            </list>
        </property>
    </bean>

    <!--Map 属性赋值-->
    <bean id="NewTeacher" class="com.ccsdt.collection.NewTeacher">
        <property name="name" value="Chen"/>
        <property name="age" value="28"/>
        <property name="cars">
            <map>
                <entry key="AA" value-ref="car1"/>
                <entry key="BB" value-ref="car2"/>
            </map>
        </property>
    </bean>

    <!--配置单例集合bean，以供其他bean进行引用，需要配置util 命名空间-->
    <util:list id="cars">
        <ref bean="car1"/>
        <ref bean="car2"/>
        <ref bean="car3"/>
    </util:list>

    <bean id="teacher2" class="com.ccsdt.collection.Teacher">
        <property name="name" value="Runyu"/>
        <property name="age" value="23"/>
        <property name="cars" ref="cars"/>
    </bean>

    <!--通过p命名空间给bean赋值，需要先导入p命名控件-->
    <bean id="teacher3" class="com.ccsdt.collection.Teacher" p:name="Feng" p:age="23" p:cars-ref="cars"/>

</beans>